<div class="container container-home">
  <h1>MMDB-Fotoportal</h1>

  <p class="lead">Speichern, Sortieren, Verwalten.<br>Alles aus <strong>einer</strong> Hand.</p>

  <% if @is_logged_in %>
    <div class="alert alert-block">
      <p>Du bist bereits, eingloggt, klicke <%= link_to 'hier', gallery_path %> um in deine Galerie zu gelangen</p>
    </div>

  <% else %>
      <a class="btn btn-large btn-block btn-primary" href="<%= login_path %>">Login</a>
      <a class="btn btn-large btn-block btn-success" href="<%= register_path %>">Registrieren</a>

  <% end -%>
</div>