<% @body_class = 'is-show-folder' %>
<h1>Gallery#show_folder</h1>
<p>Find me in app/views/gallery/show_folder.html.erb</p>

<h2>Upload</h2>

<%= form_tag upload_path, :class => 'dropzone' do %> <% end %>

<h2>Bilder</h2>

<div id='show-folder-image-previews' class='show-folder-image-preview-wrapper clearfix' data-folder-id='<%= @folder.id %>'>
  <%= image_previews_with_markup(@pictures).join(' ').html_safe %>
</div>