$(function() {
  // add Permalink to uploaded photo
  $('.dropzone').on('dzUploadSuccess', '.dz-preview', function(e, permalink) {
    $(this).append('<a href="' + permalink + '">Link</a>');
  });

  /* INFINITE SCROLL
   * -----------------------------------------------------------------------------
   */
  if ($('.is-show-folder').length > 0) {
    var $previews            = $('#show-folder-image-previews'),
        folderID             = $previews.data('folder-id'),
        page                 = 1,
        isLoading            = false,
        hasMore              = true,

        // currecnt scroll position
        previewsBottom       = 0,
        updatePreviewsBottom = function() {
          previewsBottom = $previews.height() + $previews.offset().top;
        };
        updatePreviewsBottom();

    // scroll event listener
    $(window).scroll(function() {
      if (!isLoading && hasMore && window.scrollY + window.innerHeight >= previewsBottom) {
        isLoading = true;

        $.ajax({
          url: '<%= MmdbFotoportal::Application.routes.url_helpers.load_more_pictures_path(:format => :json) %>',
          data: {
            page:      ++page,
            folder_id: folderID
          },

          error: function(e) {
            console.log("error", e);
          },

          success: function(data) {
            var html    = '',
                $target = $('#show-folder-image-previews');
            
            for (var i = 0; i < data.pictures.length; i++) {
              html += data.pictures[i];
            };
            $target.append(html);
            
            hasMore = data.hasMore;
            if (!hasMore)
              $target.after('<p>Keine weiteren Fotos in diesem Ordner</p>');
          },

          complete: function() {
            updatePreviewsBottom();
            isLoading = false;

            // trigger scroll event in case window height is too low (so it is
            // not yet scrollable)
            $(window).scroll();
          }
        });
      }

    // trigger initial scroll event
    }).scroll();
  }


  /* FOLDER ADD AND REMOVE
   * -----------------------------------------------------------------------------
   */
  var $tree = $('#navFolderTree');

  // add folder
  $tree.on('click', '.folder-add', function(e) {
    e.preventDefault();
    
    var $this     = $(this),
        url       = $this.attr('href'),
        activeID  = $tree.data('active-folder-id'),
        $parentUl = $this.closest('ul'),
        inputID   = 'parent_id',
        content   = '<input name="' + inputID + '" id="' + inputID + '" />';
    
    // build popover
    $this.popover({
      title: 'Name des Ordners?',
      content: content,
      html: true
    }).popover('show');

    // send request on enter
    $('#' + inputID).focus().on('keydown', function(e) {
      
      // on enter
      if (e.keyCode == 13) {
        $.ajax({
          url: url,
          
          data: {
            name:      $(this).val(),
            active_id: activeID
          },

          // data will return html markup for parent list
          success: function(data) {
            $this.popover('destroy');
            $parentUl.replaceWith(data);
          }
        });
      }

    // close popover on blur
    }).on('blur', function() {
      $this.popover('destroy');
    });
  }).on('click', '.folder-remove', function(e) {
    e.preventDefault();

    
  });
});