.container-register,
.container-login {
  width:360px;

  input {width:166px;} // 180 - 2x7
  input[type="submit"] {display:block; width:160px; margin:40px auto 0;}
}

ul.alert-danger,
ul.alert-block {margin-left:0; padding-left:30px;}